* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-weight: normal;
    font-size: 100%;
}

body {
    min-width: 320px; /*  Уменьшаем минимальную ширину для лучшей адаптивности */
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0;  /* Убираем padding для body */
}

.header {
    height: 100vh;
    text-align: center;
    background-color: #eee;
    background-image: url(https://i.pinimg.com/736x/02/e6/8f/02e68fc94afd499b3221f3515612cdc4.jpg);
    background-position: center;
    background-size: cover;
}

.header-title {
    margin: auto;
    color: white;
    font-weight: 800;
    font-size: 74px;
    text-transform: uppercase;
}

.overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
}

.content {
    /*width: 770px;  Заменяем фиксированную ширину на относительную */
    max-width: 960px;  /* Максимальная ширина */
    width: 90%;          /* Занимает 90% доступного пространства */
    margin: 100px auto 50px;
    display: flex;          /* Включаем Flexbox */
    flex-wrap: wrap;        /* Переносим карточки на новую строку, если не хватает места */
    justify-content: space-between; /* Распределяем карточки равномерно */
    align-items: stretch;    /* Выравниваем по высоте */
}

.card {
    width: calc(50% - 25px);   /*  Ширина каждой карточки */
    margin-bottom: 50px;     /*  Отступ снизу */
    border: 1px solid black;
    padding: 25px 25px 30px;
    box-shadow: 4px 4px 0 black;
    box-sizing: border-box;    /* Важно: учитываем padding и border */
}

.card-title {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 31px;
    text-align: center;
    text-transform: uppercase;
}

.card-text {
    font-size: 18px;
}

.card-image {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    max-height: 400px;
    object-fit: cover;
}

.footer {
    display: flex;
    height: 200px;
    background-color: rgb(164, 0, 0);
}

.footer-author {
    margin: auto;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

/* Медиа-запрос для экранов шириной до 768px (например, смартфоны) */
@media (max-width: 768px) {
    .content {
        width: 100%;            /*  Занимаем всю ширину экрана */
        padding: 0 20px;          /*  Добавляем отступы слева и справа */
    }
    .card {
        width: 100%;            /*  Каждая карточка занимает всю ширину */
        margin-right: 0;         /*  Убираем правый отступ */
    }
    .header-title {
      font-size: 50px; /*  уменьшаем размер заголовка  */
    }

    .header-p {
      font-size: 30px; /*  уменьшаем размер  */
    }
}
